# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_RISCV_SCARV_SOC

config SOC_SERIES
	default "scarv_soc"

config SYS_CLOCK_HW_CYCLES_PER_SEC
	default 32768

config RISCV_SOC_INTERRUPT_INIT
	default n

config RISCV_HAS_CPU_IDLE
	default n

config RISCV_HAS_PLIC
	default n

config NUM_IRQS
	default 64

config XIP
	default n

config XCRYPTO
    bool "XCrypto Support"
    default y
    help
      This option enables XCrypto support.

endif # SOC_SERIES_RISCV_SCARV_SOC
