# SCAR-V SoC UART configuration option

menuconfig UART_SCARVSOC
	bool "SCAR-V SoC serial driver"
	depends on SOC_RISCV_SCARV_SOC
	select SERIAL_HAS_DRIVER
	help
	  This option enables the SCAR-V SoC serial driver.

menuconfig UART_SCARVSOC_POLL_IN_BLOCKING
    bool "Blocking mode on poll_in"
    depends on UART_SCARVSOC
    default y
    help
        Enable blocking in the poll_in procedure. It's the only method that
        seems to work. Disable this option and poll_in will return -1 if the
        input buffer is empty, rather than polling, doesn't work well with
        console_getchar.

# ---------- Port 0 ----------

menuconfig UART_SCARVSOC_PORT_0
	bool "Enable SCARVSOC Port 0"
	depends on UART_SCARVSOC
	help
	  This tells the driver to configure the UART port at boot, depending on
	  the additional configure options below.

# ---------- Port 1 ----------

menuconfig UART_SCARVSOC_PORT_1
	bool "Enable SCARVSOC Port 1"
	depends on UART_SCAR-VSoC
	help
	  This tells the driver to configure the UART port at boot, depending on
	  the additional configure options below.
