CONFIG_RISCV=y
CONFIG_SOC_SERIES_RISCV_SCARV_SOC=y
CONFIG_SOC_RISCV_SCARV_SOC=y
CONFIG_BOARD_SCARV_SOC=y

CONFIG_SOC_RISCV32_LITEX_VEXRISCV=y
CONFIG_SERIAL_SUPPORT_INTERRUPT=n
CONFIG_SERIAL=y
CONFIG_UART_LITEUART=n
#CONFIG_UART_LITEUART_PORT_0=n
CONFIG_TINYCRYPT=y
CONFIG_TINYCRYPT_AES=y
CONFIG_TINYCRYPT_AES_CBC=y

#CONFIG_GEN_IRQ_VECTOR_TABLE=n
#CONFIG_GEN_ISR_TABLES=n

CONFIG_SOC_SERIES_RISCV_SIFIVE_FREEDOM=n
CONFIG_SOC_RISCV_SIFIVE_FREEDOM=n
CONFIG_RISCV_MACHINE_TIMER=y
CONFIG_PLIC=n
CONFIG_GPIO=n
CONFIG_GPIO_SIFIVE=n
CONFIG_PINMUX=n
CONFIG_PINMUX_SIFIVE=n
CONFIG_CONSOLE=n
CONFIG_PRINTK=y
CONFIG_UART_CONSOLE=n
CONFIG_BOOT_BANNER=n
